*{
    margin:0px;
    padding:0px;
}

body {

    color:rgb(10, 3, 3);
}

.logo-title{
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-title img{
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.logo-title h1{
    margin: 0;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 20px 0;
}

.header h1{
    font-family: "Times New Roman", serif;
    font-size: 2.7rem;
    font-weight: bold;
    color: #103579;
    margin: 0;
    letter-spacing: 1px;
    text-align: center;
}

.affiliation-section{
    width:70%;
    margin:50px auto;
    text-align:left;
    line-height:2;
}

.affiliation-section h2{
    text-align:center;
    color:#173f8a;
    margin-bottom:25px;
    font-size:32px;
}

.affiliation-section p{
    font-size:18px;
    margin:8px 0;
    color:#333;
}

.affiliation-section strong{
    color:#173f8a;
}

.affiliation-section a{
    color:#ff6600;
    text-decoration:none;
}

.affiliation-section a:hover{
    text-decoration:underline;
}

.subtitle{
    margin-top: 10px;
    font-size: 15px;
    color: #555;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    line-height: 1.6;
    font-weight: 500;
}
.menu{
    display: flex;
    width:100%;
    justify-content: center;
    background: white;
    

}
.navbar-container{
    position:sticky;
    top:0;
    z-index:1000;
    background: white;
}
nav{
    margin-left:500px;
    
}

nav ul li a{
    color:black;
    padding:15px 22px;
    display:block;
    text-decoration:none;
    font-weight: bold;
    font-size:15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius:5px;
    transition: background-color .35s ease,
                color .35s ease,
                transform .25s ease;
}

nav ul li a:hover{
    background-color: #f3f3f3;
    color: #3fa8fd;
    transform: translateY(-2px);
}

nav ul{
    list-style: none;
    display: flex;
    gap:25px;
    color:black;
}


.top-number{
    border-radius: 5px 3px 25px 25px ;
    background: #003c99;
    display:flex;
    align-items:center;
    padding:10px 190px;
    color:white;
    font-size: 0.8rem;
    gap:20px;
    text-decoration:none;
    justify-content: space-between;
    color:white;
    width:100%;
}
.top-number a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.top-number a:hover{
    color: rgb(235, 59, 59);
    text-decoration: underline;
}

.left{
    display:flex;
    gap:30px;
    right:50%;
}

.big-container{
    display:flex;
    justify-content:center;
    position:relative;
    margin-top: -75px;
    z-index: 10;
}

.container-1{
    height:150px;
    width:200px;
    background-color:#1dff8e;
}

.container-2{
    height:139px;
    width:200px;
    background-color:#ff07b9;
}
.container-3{
    height:150px;
    width:200px;
    background-color:#daff07;
}

.hero {
    position:relative;
    height:650px;
    margin-top:30px;
    overflow:hidden;
}
.slider{
    width:100%;
    height:100%;
    position: relative;
}

.slide{
    width:100%;
    height:100%;
    object-fit: cover;
    position:absolute;
    top:0;
    left:0;
    opacity: 0;
    transition:0.6s;
}
.slide.active{
    opacity:1;
}

.arrow{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    border:none;
    background:rgba(0,0,0,0.4);
    color:white;
    font-size:35px;
    width:55px;
    height:55px;
    cursor: pointer;
    z-index:5;

}

.left{
    left:20px;
}

.right{
    right:20px;
}

.arrow:hover{
    background:#0ff7ff;
}

.hero img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.hero-content{
    position: absolute;
    top:40%;
    left:80px;
    color:white;
    z-index:4;

}

.know-btn{
    position: relative;
    overflow:hidden;
    padding: 9px 20px;
    border:none;
    background: #ff5b00;
    border-radius:3px;
    color: white;
    font-size: 15px;
    cursor:pointer;
    z-index:1;
}

.know-btn::before{
    content:"";
    position: absolute;
    top:0px;
    left:-100%;
    height:100%;
    width:100%;
    background:#003c99;
    transition:0.4s;
    z-index:-1;
}

.know-btn:hover::before{
    left:0;
}


.director{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
    padding: 70px 240px;
    background-color:rgba(250, 232, 232, 0.384);
    width:100%;
   

}

.director img{
    width: 500px;
    height: 380px;
    object-fit: cover;
}

.director h1{
    font-size:20px;
}

.director p{
    font-size:12px;
}

.course-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:30px;
}

.course-card{
    width:300px;
    border:2px solid #180808;
    text-align:left;
    margin:0 auto;
    margin-bottom:40px;
}

.course-card img{
    width:100%;
    height:100px;
    object-fit:cover;
    display:block;

}
.courses{
    padding: 70px;
    text-align:center;
    scroll-margin-top:170px;
}

.courses h1{
    font-size:45px;
}
.course-card h2{
    padding: 12px;
}


.course-page-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:40px;
}

.course-page-card{
    width:900px;
    border:1px solid #ddd;
}

.course-page-card img{
    width:100%;
    height:300px;
    object-fit:cover;
}

html{
    scroll-behavior: smooth;
}

.footer{
    background:#163579;
    color:white;
    margin-top:80px;
    padding:60px 100px 20px;
}

.footer-container{
    display:flex;
    justify-content: space-between;
    gap:80px;
    flex-wrap:wrap;
}

.footer-box{
    width:300px;
}

.footer-box h2{
    margin-bottom:20px;
    font-size:24px;
}

.footer-box p{
    line-height:28px;
}

.footer-box a{
    display: block;
    color:white;
    text-decoration:none;
    margin-bottom:12px;
}

.footer-box a:hover{
    color:#ff5b00;
}

.footer hr{
    margin:40px 0 20px;

}

.know-btn{
    display:inline-block;
    text-decoration:none;
    color:white;
}

.diploma-container{
    width:100%;
    margin:50px auto;
}

.diploma-container h1{
    text-align:center;
    font-size:50px;
}

.diploma-container p{
    font-size:18px;
    line-height:1.8;
}

.diploma-container img{
    display:block;
    margin: 30px auto;
    width:900px;
    max-width:100%;
}

.diploma-container h2{
    margin-top:40px;
}

.diploma-container li{
    margin-bottom:10px;
}

.verification{
    width:100%;
    min-height:70vh;

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    text-align:center;
}
.verification h1{
    font-size:50px;
    color:#163579;
    margin-bottom:15px;
}
.verification p{
    font-size:18px;
    color:#666;
    margin-bottom:35px;
}
#result{
    width:100%;
    display:flex;
    justify-content:center;
}

.input-group{
    width:200px;
    max-width: 50%;
    margin:0 auto;
}

.apply-form{
    max-width:600px;
    margin:70px auto;
    padding:30px;
}

.card table td{
    padding:18px 25px !important;
    font-size:20px;
}

.card h3{
    font-size:42px;
    text-align:center;
    margin-bottom:35px;
}

.card{
    border-radius:10px;
}

/* ================= MOBILE RESPONSIVE ================= */

@media (max-width:768px){

.top-number{
    padding:10px 20px;
    flex-direction:column;
    gap:10px;
    text-align:center;
}

.left{
    flex-direction:column;
    gap:8px;
    align-items:center;
}

.header{
    padding:15px;
}

.header h1{
    font-size:22px;
    line-height:1.3;
}

.subtitle{
    font-size:13px;
    padding:0 15px;
}

.menu{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    padding:10px;
}

nav{
    width:100%;
    margin:0;
}

nav ul{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:8px;
    padding:0;
    margin:0;
    list-style:none;
}

nav ul li a{
    display:block;
    padding:8px;
    font-size:12px;
}

.hero{
    height:360px;
}
.arrow{
    width:40px;
    height:40px;
    font-size:22px;
}

.hero-content{
    left:15px;
    right:15px;
    top:28%;
    max-width:90%;
}

.hero-content h1{
    font-size:24px;
}
.hero-content p{
    font-size:13px;
}
.director{
    flex-direction:column;
    padding:40px 20px;
}

.director img{
    width:100%;
    height:auto;
}

.director-content{
    text-align:center;
}

.courses{
    padding:40px 20px;
}

.courses h1{
    font-size:35px;
}

.course-card{
    width:100%;
}

.footer{
    padding:40px 20px;
}

.footer-container{
    flex-direction:column;
    gap:30px;
}

.footer-box{
    width:100%;
    text-align:center;
}
img{
    max-width:100%;
    height:auto;
}

}